<div class="container-fluid">
    <app-header></app-header>
    <app-acerca-de></app-acerca-de>
    <p style="line-height:21px;margin:0px;"><br></p>
    <app-experiencia></app-experiencia>
    <p style="line-height:21px;margin:0px;"><br></p>
    <app-educacion></app-educacion>
    <p style="line-height:21px;margin:0px;"><br></p>
    <app-skills></app-skills>
    <p style="line-height:21px;margin:0px;"><br></p>
    <app-idiomas></app-idiomas>
    <p style="line-height:21px;margin:0px;"><br></p>
    <app-proyectos></app-proyectos>
    <app-footer></app-footer>
</div>