.row {

    background-color: rgb(33, 37, 41);
    /* color: #D3FBD8; */
    color: #E5E9F0;
    text-align: center;
}

/*
div {
    background-color: rgb(33, 37, 41);
    color: #D3FBD8;
    text-align: center;
} */