<div class="row">

    <h1>Hard & Soft skills</h1>
    <!-- <button type="button" class="float-right" routerLink="/newskill" class="btn btn-outline-secondary"
        *ngIf="isLogged">Nueva
        Skill</button> -->
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-outline-secondary" *ngIf="isLogged">Agregar
            Skill</button>
    </div>

    <div>
        <br>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress [percent]="(skill.porcentaje)" [radius]="100" [title]="(skill.nombre)" [titleColor]="'#D8DEE9'"
            [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [imageHeight]="70" [imageWidth]="70"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#d08770'" [innerStrokeColor]="'#EBCB8B'"
            [animation]="true" [animationDuration]="400" [lazy]="true" [renderOnClick]="true">
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>

    </div>
</div>